/*
!src/
!assets/
!app.json
!package.json
!package-lock.json
!babel.config.js
!tsconfig.json
!tailwind.config.js
!eas.json
!App.tsx
!index.ts
!app.d.ts
!metro.config.js
!global.css
!nativewind-env.d.ts
